%h2
  Contribute
%form{:action => "https://www.paypal.com/cgi-bin/webscr", :method => "post", :target => "_top"}
  %input{:name => "cmd", :type => "hidden", :value => "_s-xclick"}/
  %input{:name => "hosted_button_id", :type => "hidden", :value => "W4RSVMCMB9MVW"}/
  %table
    %tr
      %td
        %input{:name => "on0", :type => "hidden", :value => "Options"}>/
        Options
    %tr
      %td
        %select{:name => "os0"}
          %option{:value => "Starbucks"} Starbucks $5.00 USD
          %option{:value => "McDonald's"} McDonald's $10.00 USD
          %option{:value => "Olive Garden"} Olive Garden $20.00 USD
  %input{:name => "currency_code", :type => "hidden", :value => "USD"}/
  %input{:alt => "PayPal - The safer, easier way to pay online!", :border => "0", :name => "submit", :width => "476px", :src => "https://ordervore.com/buy_me_lunch.png", :type => "image"}/
  %img{:alt => "", :border => "0", :height => "1", :src => "https://www.paypalobjects.com/en_US/i/scr/pixel.gif", :width => "1"}/
