%br
.text-center
  = link_to "Find someone's order", orders_path, class: 'btn btn-primary'
  = link_to 'Create a new order', new_order_path, class: 'btn btn-primary'
.content
  %h2 
    What is this for?
  %p
    Ordervore makes it easy to save your orders from your favorite restaurants and look up what your friends and family usually want. 
.content
  %h2
    What can I do with this?
  %p
    You can save your orders, look up other people's orders, and create group orders for any number of people. No more texting orders, no more writing things down, just put your order on Ordervore and get your food on.
.content
  %h2
    Is this the most significant tool for the modern era? Will it save the world? 
  %p
    Almost certainly. :-)
