%h2
  Find someone's order

= form_tag('/user/search', method: :get) do
  .form-group
    = label_tag(:name, 'Search by name')
    = text_field_tag(:name)
  .form-controls
    = submit_tag("Submit", class: 'btn btn-primary')

