%h2
  Restaurants

.container-fluid
  .row
    - @restaurants.each do |restaurant|
      .col-xs-6
        = "#{restaurant.name}"
        - if restaurant.approved?
          %span{ class: 'glyphicon glyphicon-ok', aria: { hidden: 'true'} } 
        - else
          %span{ class: 'glyphicon glyphicon-remove', aria: { hidden: 'true'} } 
          
        %br
      .col-xs-6
        .text-right
          = link_to 'Edit', edit_restaurant_path(id: restaurant.id), class: 'btn btn-info'
          = link_to 'Delete', edit_restaurant_path(id: restaurant.id), class: 'btn btn-info'
