/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background: url(carrots-food-fresh-616404.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #B1988A;
  font-family: 'Caveat', cursive;
  font-size: 500%;
  color: #604441;
}

h1{
  font-size: 200%;
}
h2{
  font-size: 150%;
}
a {
  color: #604441;
  text-decoration: none;
}
a:hover { 
  color: #B1988A;
  text-decoration: none;
}
input[type="text"] {
  height: 100%;
  font-size: 100%;
}


.btn-primary {
  border-color: #B1988A;
  background-color: #FFA500;
  font-size: 80%;
}
.btn-primary:hover {
  border-color: #B1988A;
  background-color: #B1988A;
}
.btn {
  font-size: 80%;
}
.btn-sm {
  font-size: 40%;
}
.content {
  background-color: #e4dbd2;
}
